<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>527841286751-ehsk2egmvkm11k2gbno062e2ngq3p99n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.527841286751-ehsk2egmvkm11k2gbno062e2ngq3p99n</string>
	<key>API_KEY</key>
	<string>AIzaSyAKDczwQzZ9zL3rFLIGPP6g6Og6_2xYuq4</string>
	<key>GCM_SENDER_ID</key>
	<string>527841286751</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.emmaroche.CGA.Career-s-Guidance-App</string>
	<key>PROJECT_ID</key>
	<string>carrers-guidance-app</string>
	<key>STORAGE_BUCKET</key>
	<string>carrers-guidance-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:527841286751:ios:fde33164609725b52059ea</string>
</dict>
</plist>